*{
    margin: 0px;
    padding: 0px;
}
.IndexHead{
    color: white;
    text-align: center;
    height: 85px;
    width: 100%;
    background-color: #222;
    line-height: 85px;
}

.ItemBox{
    width: 1090px;
    margin: 0 auto;
}

.ItemCard{
    width: 260px;
    background-color: beige;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.QcodeIcon{
    margin: 10px;
}

.CreateTimer{
    padding-bottom: 10px;
}
